<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Bootstrap e CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/home_admin.css">
    <link rel="icon" type="image/x-icon" href="/img/logo_alternativa.png">
    <title>Alento Saúde | Home Administrador </title>
</head>

<body>

    <header class="alento-header">
        <!-- Barra Superior -->
        <div class="top-bar">
            <div class="top-bar-right">
                <div class="top-bar-item">
                    <img id="img-modo-noturno" src="/img/icone_modo_noturno.png" alt="Ícone de Modo Noturno">
                    <div id="toggle-dark-mode" class="toggle-dark-mode"></div>
                </div>
                <div class="top-bar-item">
                    <button class="btn-ajuda"> <img class="img-item-default" src="/img/icone_ajuda.png"
                            alt="Ícone de Ajuda">
                        <img class="img-item-hover" src="/img/icone_ajuda_hover.png" alt="Ícone de Ajuda">
                        <img class="img-item-dark-hover" src="/img/icone_ajuda_dark_hover.png" alt="Ícone de Ajuda">
                        Ajuda
                    </button>
                </div>
            </div>
        </div>
        <!-- Header Principal -->
        <div class="container-fluid main-header">

            <!-- Ícone Menu Hamburguer -->
            <button class="btn-hamburguer-custom order-0" id="btn-menu-mobile">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="alento-logo order-1" href="/admin/home">
                <img src="/img/logo_padrao.png" alt="Ícone Padrão da Logo">
                <h2> Alento Saúde </h2>
            </a>

            <div class="user-dropdown d-flex align-items-center order-3">
                <div class="user-profile">
                    <img src="/img/icone_perfil.png" alt="Perfil" class="img-perfil-nav">
                    <i class="fa fa-chevron-down arrow-icon"></i>
                </div>
                <div id="dropdownMenu" class="dropdown-content">
                    <div class="dropdown-header">
                        <h6>Olá, João Roberto da Silva!</h6>
                    </div>
                    <a href=""><i class="fa fa-user"></i> Meu Perfil</a>
                    <hr>
                    <a href="/logout" id="btn-logout" class="logout-item">
                        <i class="fa fa-sign-out-alt"></i> Sair
                    </a>
                </div>
            </div>

            <nav class="menu-central order-lg-2">
                <a href="/admin/home">
                    <img class="img-menu-default" src="/img/icone_inicio.png" alt="Imagem Ícone de Casa">
                    Início
                </a>
                <a href="/admin/gestao_usuarios">
                    <img class="img-menu-default" src="/img/icone_gestao_de_usuarios.png" alt="">
                    Gestão de Usuários
                </a>
                <a href="/admin/gestao_especialidades">
                    <img class="img-menu-default" src="/img/icone_gestao_de_especialidades.png" alt="">
                    Gestão de Especialidades
                </a>
                <a href="/admin/logs_sistema">
                    <img class="img-menu-default" src="/img/icone_logs_sistema.png" alt="">
                    Logs de Sistema
                </a>
                <a href="/admin/backup_banco">
                    <img class="img-menu-default" src="/img/icone_backup_banco.png" alt="">
                    Backup do Banco
                </a>
            </nav>
        </div>
    </header>

    <main>
        <!-- Menu Lateral -->
        <div class="sidebar-wrapper">
            <aside class="sidebar">
                <ul class="menu-items">
                    <li class="active">
                        <a href="/admin/home">
                            <img src="/img/icone_inicio_ativo.png">
                            Início
                        </a>
                    </li>
                    <li>
                        <a href="/admin/gestao_usuarios">
                            <img class="img-menu-default" src="/img/icone_gestao_de_usuarios.png">
                            <img class="img-menu-hover" src="/img/icone_gestao_de_usuarios_ativo.png">
                            Gestão de Usuários
                        </a>
                    </li>
                    <li>
                        <a href="/admin/gestao_especialidades">
                            <img class="img-menu-default" src="/img/icone_gestao_de_especialidades.png">
                            <img class="img-menu-hover" src="/img/icone_gestao_de_especialidades_ativo.png">
                            Gestão de Especialidades
                        </a>
                    </li>
                    <li>
                        <a href="/admin/logs_sistema">
                            <img class="img-menu-default" src="/img/icone_logs_sistema.png">
                            <img class="img-menu-hover" src="/img/icone_logs_sistema_ativo.png">
                            Logs de Sistema
                        </a>
                    </li>
                    <li>
                        <a href="/admin/backup_banco">
                            <img class="img-menu-default" src="/img/icone_backup_banco.png">
                            <img class="img-menu-hover" src="/img/icone_backup_banco_ativo.png">
                            Backup do Banco
                        </a>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="container-fluid main-content">
            <section class="banner-admin">
                <div class="header-main">
                    <div class="status-banner">
                        <div class="content-left">
                            <h1 class="admin-titulo">Olá, Administrador!</h1>

                            <div class="status-linha">
                                <img src="/img/icone-check.png" alt="Ícone de Check ok" class="icone-check">
                                <p class="status-texto">Todos os sistemas operando normalmente.</p>
                            </div>

                            <small class="backup-data">Último backup em 26/03/2026 14:00 BRT</small>
                        </div>

                        <div class="content-right">
                            <img src="/img/logo_alternativa.png" alt="Ícone de Status" class="status-img">
                        </div>
                    </div>
                </div>
            </section>

            <section class="visao-geral-section">
                <h2 class="section-title">Visão Geral</h2>

                <div class="cards-visao">
                    <div class="card-item">
                        <div class="card-content">
                            <div class="imagem-area bg-azul">
                                <img src="/img/icone_total_pacientes.png" alt="Ícone de Pacientes" class="icone-card">
                            </div>
                            <div class="card-desc">
                                <h4>Total de Pacientes</h4>
                                <p>56</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-content">
                            <div class="imagem-area bg-verde">
                                <img src="/img/icone_equipe_medica.png" alt="Ícone de Médicos" class="icone-card">
                            </div>
                            <div class="card-desc">
                                <h4>Total de Médicos</h4>
                                <p>25</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-content">
                            <div class="imagem-area bg-laranja">
                                <img src="/img/icone_especialidades.png" alt="Ícone Especialidades" class="icone-card">
                            </div>
                            <div class="card-desc">
                                <h4>Especialidades</h4>
                                <p>7</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-content">
                            <div class="imagem-area bg-roxo">
                                <img src="/img/icone_consultas_agendadas.png" alt="Ícone Especialidades"
                                    class="icone-card">
                            </div>
                            <div class="card-desc">
                                <h4>Consultas Agendadas</h4>
                                <p>7</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-content">
                            <div class="imagem-area bg-ciano">
                                <img src="/img/icone_consultas_realizadas.png" alt="Ícone Especialidades"
                                    class="icone-card">
                            </div>
                            <div class="card-desc">
                                <h4>Consultas Realizadas</h4>
                                <p>7</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="dashboard-detalhes">
                <div class="coluna-graficos">
                    <h2 class="titulo-sessao">Gráficos e Relatórios</h2>

                    <div class="linha-graficos-topo">
                        <div class="card-grafico">
                            <img src="/img/gráfico_desempenho_da_clinica.png" alt="Gráfico">
                        </div>
                        <div class="card-grafico">
                            <img src="/img/grafico_distribuicao_por_especialidade.png" alt="Gráfico">
                        </div>
                    </div>

                    <div class="linha-detalhes-inferior">
                        <div class="card-detalhes">
                            <h3>Próximos Agendamentos</h3>
                            <table class="tabela-clinica">
                                <thead>
                                    <tr>
                                        <th>Paciente</th>
                                        <th>Especialidade</th>
                                        <th>Horário</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Claudia Ferreira</td>
                                        <td>Cardiologia</td>
                                        <td>09:00</td>
                                        <td><span class="status-tag espera"> Não Confirmado </span></td>
                                    </tr>
                                    <tr>
                                        <td>Eduardo Montes</td>
                                        <td>Cardiologia</td>
                                        <td>09:10</td>
                                        <td><span class="status-tag ok"> Confirmado </span></td>
                                    </tr>
                                    <tr>
                                        <td>Mara Silva</td>
                                        <td>Ginecologia</td>
                                        <td>14:30</td>
                                        <td><span class="status-tag ok"> Confirmado </span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-detalhes">
                            <h3>Médicos Mais Ativos</h3>
                            <ul class="lista-ranking-medicos">
                                <li>
                                    <div class="medico-info">
                                        <strong>Dra. Anna Santos</strong>
                                        <span>Ginecologia</span>
                                    </div>
                                    <span class="contagem">23</span>
                                </li>
                                <li>
                                    <div class="medico-info">
                                        <strong>Dr. Silvio Monteiro</strong>
                                        <span>Clínica Médica</span>
                                    </div>
                                    <span class="contagem">15</span>
                                </li>
                                <li>
                                    <div class="medico-info">
                                        <strong>Dra. Sara Oliveira</strong>
                                        <span>Pediatria</span>
                                    </div>
                                    <span class="contagem">10</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="coluna-informacao">
                    <h2 class="titulo-sessao">Informações</h2>

                    <div class="card-lateral-informativo">
                        <div class="info-section">
                            <h3>Profissionais em Atendimento</h3>
                            <ul class="lista-equipe">
                                <li>
                                    <span class="status-online"></span>
                                    <div>
                                        <strong>Dr. Arnaldo Silva</strong>
                                        <small>Ortopedia - Consultório 01</small>
                                    </div>
                                </li>
                                <li>
                                    <span class="status-online"></span>
                                    <div>
                                        <strong>Dra. Beatriz Souza</strong>
                                        <small>Dermatologia - Consultório 02</small>
                                    </div>
                                </li>
                                <li>
                                    <span class="status-offline"></span>
                                    <div>
                                        <strong>Enfª. Carla Mendes</strong>
                                        <small>Triagem e Procedimentos</small>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="info-section">
                            <h3>Atividades do Sistema</h3>
                            <div class="timeline">
                                <div class="timeline-item">
                                    <span class="dot"></span>
                                    <p><strong>Segurança:</strong> Backup em nuvem finalizado (15:00).</p>
                                </div>
                                <div class="timeline-item">
                                    <span class="dot"></span>
                                    <p><strong>Agenda:</strong> Horários de Junho liberados para agendamento.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="info-section">
                            <h3>Relatórios</h3>
                            <div class="botoes-relatorio">
                                <button class="btn-relatorio">Relatório de Desempenho</button>
                                <button class="btn-relatorio">Relatório por Especialidade</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Modal Ajuda -->
    <div id="modalAjuda" class="modal-container">
        <div class="modal-box">
            <span class="modal-close" id="closeAjuda">&times;</span>

            <h2 class="modal-title">Como podemos te ajudar?</h2>

            <div class="modal-info-list text-format">
                <h3>FAQ</h3>

                <p><strong>Vocês aceitam convênios?</strong><br>
                    Trabalhamos apenas com consultas particulares, mas fornecemos nota fiscal completa para você
                    solicitar o reembolso junto ao seu plano de saúde.</p>

                <p><strong>Como faço para cancelar uma consulta?</strong><br>
                    Os cancelamentos devem ser feitos diretamente via WhatsApp com pelo menos 24h de antecedência.
                </p>

                <p><strong>Quais documentos preciso levar?</strong><br>
                    Apenas um documento oficial com foto. Se possuir exames recentes de outras clínicas,
                    recomendamos
                    trazê-los.</p>

                <hr class="modal-divider">

                <h3>Canais de Contato</h3>
                <h6>Para casos de urgência ou dúvidas rápidas: </h6>
                <p><strong>WhatsApp: </strong> (21) 99999-9999 <br> Seg a Sex - 08h às 18h | Sab - 08h às 14h.</p>

                <p><strong>Localização:</strong> Av. Rio Branco, 123 - Centro - Rio de Janeiro.</p>

                <a class="modal-btn-action btn-whatsapp" href="https://wa.me" target="_blank">Falar com Atendente
                    agora</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="alento-footer">
        <p>© 2026 Alento Saúde - Todos os direitos reservados.</p>
    </footer>
    <script type="module" src="/js/main.js"></script>
</body>

</html>