/* Estilização Global */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilização do Header */
.alento-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Barra Superior */
.top-bar {
    background-color: #e6edf2;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.top-bar-right {
    display: flex;
    align-items: end;
    gap: 5px;
}

.top-bar-item {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.top-bar-item img {
    width: 20px;
    height: 20px;
}

.top-bar-item button {
    color: #718096;
    font-weight: 500;
    text-decoration: none;
}

/* Header Principal */
.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.alento-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.alento-logo img {
    width: 50px;
    height: 50px;
}

.alento-logo h2 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.alento-nav {
    gap: 20px;
    font-weight: 600;
    text-decoration: none;
}

.alento-nav .nav-item a {
    color: black;
}

.alento-nav .nav-link {
    padding: 5px 10px;
    border-right: 2px solid transparent;
    transition: 0.3s;
}

.alento-nav .nav-link:hover {
    color: #3182ce;
    border-right: 2px solid #3182ce;
}

#btn-entrar {
    border: 1px solid #3182ce;
    padding: 5px 15px;
    border-radius: 20px;
    color: #3182ce;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
    top: 5px;
    margin-left: 20px;
}

#btn-entrar:hover {
    background-color: #3182ce;
    color: white;
}

/* Estilização do Corpo da Página */
/* Layout Principal Estendível */
main {
    flex: 1 0 auto;
}

/* Banner Principal */
.main-content {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #ebf2f7;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1100px;
}

.banner-text {
    flex: 1;
    text-align: left;
}

.banner-text h1 {
    font-size: 35px;
    color: #1e293b;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 15px;
    cursor: default;
}

.banner-text p {
    font-size: 19px;
    font-weight: 600;
    color: #64748b;
    margin-bottom: 40px;
    cursor: default;
}

/* Botão Estilizado */
.btn-agendar {
    position: absolute;
    left: 40%;
    bottom: 35px;
    background-color: #72a1cc;
    color: white;
    padding: 10px 60px;
    border-radius: 30px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    font-size: 28px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}

.btn-agendar:hover {
    background-color: #132f44;
    transform: translateY(-3px);
}

/* Área do Banner Principal */
.banner-imagem {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Imagem do Banner Principal */
.banner-imagem img {
    max-width: 250px;
    height: auto;
    position: relative;
    bottom: 15px;
}


/* Seção Especialidades */

.servicos-section {
    margin: 20px 0;
    background-color: #ffffff;
}

.servicos-title {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    color: #1e293b;
    margin: 0 0 40px 50px;
    cursor: default;
}

/* Container Cards */
.servicos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Estilo do Card */
.servico-card {
    flex: 0 1 calc(14% - 20px);
    min-width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
    text-align: center;
    cursor: default;
}

.servico-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.servico-icon {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.servico-icon img {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

.servico-card .card-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    font-size: 19px;
    font-weight: 700;
    color: #1e293b;
}

.servico-card .card-text {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: #64748b;
}

/* Estilização da Seção Sobre Nós */
.sobre-nos-section {
    width: 100%;
    margin: 20px 0 0 0;
}

.sobre-nos-intro {
    background-color: #ebf2f7;
    padding: 20px 0;
    width: 100%;
}

/* Título Sobre Nós (h2) */
.sobre-nos-title {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #1e293b;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 0px 50px;
    cursor: default;
}

/* Subtítulo Sobre Nós (h4) */
.sobre-nos-subtitle {
    font-size: 22px;
    font-weight: 700;
    color: #1e293b;
}

/* Conteúdo do Sobre Nós */
.sobre-nos-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Descrição do Sobre Nós */
.sobre-nos-text p {
    font-size: 19px;
    font-weight: 600;
    color: #64748b;
    margin: 10px 0 40px 0;
    cursor: default;
}

/* Botão Saiba Mais */
.btn-saiba-mais {
    margin: 0px 0px 0px 10px;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #5D99C6;
    border-radius: 20px;
    font-weight: bold;
    color: #5D99C6;
    transition: transform 0.3s;
}

.btn-saiba-mais:hover {
    background-color: #5D99C6;
    color: white;
    transform: translateY(-3px);
}

/* Área do Banner Sobre Nós */
.sobre-nos-imagem {
    border: 1px solid rgba(93, 153, 198, 0.4);
    border-radius: 20px;
    position: relative;
    bottom: 50px;
}

/* Imagem do Banner Sobre Nós */
.sobre-nos-imagem img {
    max-width: 450px;
    height: auto;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* Seção Pilares da Clínica */
.pilares-section {
    margin: 0;
    background-color: #ffffff;
    padding: 20px 0;
    width: 100%;
}

.pilares-subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    color: #1e293b;
    /* margin: 0 0 40px 240px; */
    cursor: default;
}

.pilares-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Estilo do Card */
.pilares-card {
    flex: 0 1 calc(14% - 20px);
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    text-align: center;
    cursor: default;
}

.pilares-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* Card Header */
.pilares-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 20px;
}

/* Ícones dos Pilares no Card Header */
.pilares-header img {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

/* Cards dos Pilares */
.pilares-card {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

/* Título dos Cards dos Pilares */
.pilares-card .card-title {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 0 15px;
    font-size: 19px;
    font-weight: 700;
    color: #1e293b;
}

/* Descrição dos Cards dos Pilares */
.pilares-card .card-text {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #64748b;
}

/* Modal Saiba Mais */
.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

/* Área Modal Saiba Mais */
.modal-box {
    background-color: #ffffff;
    /* margin: 8% auto; */
    padding: 35px;
    border-radius: 25px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Botão Fechar Modal */
.modal-close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #64748b;
}

.modal-close:hover {
    color: #ef4444;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

/* Título do Modal Saiba Mais */
.modal-title {
    color: #5D99C6;
    margin-bottom: 10px;
    font-size: 24px;
}

/* Descrição do Modal Saiba Mais */
.modal-description {
    color: #475569;
    margin-bottom: 25px;
    font-size: 16px;
}

/* Tópicos do Modal Saiba Mais */
.modal-item {
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: left;
}

/* Títulos dos Topícos do Modal Saiba Mais */
.modal-item-title {
    color: #1e293b;
    font-size: 16px;
    /* font-weight: bold; */
    margin-bottom: 5px;
}

/* Descrição dos Tópicos do Modal Saiba Mais */
.modal-item-text {
    color: #64748b;
    font-size: 14px;
    font-weight: 600;
}

/* Botão Agendar Consulta do Modal Saiba Mais */
.modal-btn-action {
    display: inline-block;
    box-sizing: border-box;
    background-color: #5D99C6;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    transition: background 0.3s;
}

.modal-info-list a:hover {
    background-color: #132f44;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(93, 153, 198, 0.4);
}

/* Modal Ajuda */
.text-format {
    text-align: left;
    padding: 10px;
}

.text-format h3 {
    color: #1e293b;
    font-size: 18px;
    margin: 20px 0 10px 0;
    border-bottom: 2px solid #5D99C6;
    display: inline-block;
}

.text-format p {
    color: #64748b;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.text-format strong {
    color: #1e293b;
}

.modal-divider {
    border: 0;
    border-top: 1px solid #e2e8f0;
    margin: 20px 0;
}

.modal-btn-whatsapp {
    display: inline-block;
    box-sizing: border-box;
    background-color: #25d366;
    color: #ffffff;
    text-decoration: none;
    border: none;
    margin-top: 15px;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    transition: background 0.3s;
}

.modal-btn-whatsapp:hover {
    background-color: #128c7e;
    transform: translateY(-3px);
}

.help-content {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Estilização do Footer */

.alento-footer {
    background-color: #2f3e4e;
    color: #ffffff;
    padding: 30px 20px 10px;
    border-top: 5px solid #90b6d6;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
    cursor: default;
    flex-shrink: 0;
}

/* Área do Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

/* Colunas do Footer */
.footer-col {
    flex: 1;
    min-width: 200px;
}

/* Logo */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 40px;
}

.footer-col h3 {
    margin: 0;
}

.footer-col h4 {
    margin-bottom: 10px;
}

/* Texto */
.footer-col p {
    margin: 5px 0;
    font-size: 14px;
}

/* Lista dos Links */
.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 5px;
}

/* Links */
.footer-col ul li a {
    display: inline-block;
    text-decoration: none;
    color: #d1d5db;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    transform: translateX(10px);
}

/* itens de contato */
.footer-contato-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
}

/* ícones */
.footer-contato-item img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

/* texto */
.footer-contato-item span {
    font-size: 14px;
    color: #d1d5db;
}

/* Linha inferior */
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}

/* Estilização do Modo Noturno */
.toggle-dark-mode {
    margin-top: 2px;
    width: 45px;
    height: 17px;
    background-color: #CCCCCC;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-dark-mode::before {
    content: '';
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
}

/* Fundo da Página */
body.dark-mode {
    background-color: #353535;
    color: white;
}

/* Botão do Modo Noturno */
body.dark-mode .toggle-dark-mode {
    background-color: #2196F3;
}

body.dark-mode .toggle-dark-mode::before {
    transform: translateX(25px);
}

body.dark-mode .top-bar {
    background-color: #2d3748;
}

/* Fundo do Header Principal */
body.dark-mode .main-header {
    background-color: #1a202c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

/* Texto da Logo */
body.dark-mode .alento-logo h2 {
    color: white;
}

/* Texto do Menu de Navegação */
body.dark-mode .alento-nav .nav-link {
    color: #e2e8f0;
}

body.dark-mode .alento-nav .nav-link:hover {
    border-right: 2px solid #3182ce;
    color: #3182ce;
    color: #3182ce;
}

/* Botão de Entrar */
body.dark-mode #btn-entrar {
    border: 1px solid #63b3ed;
    color: #63b3ed;
    background-color: transparent;
}

body.dark-mode #btn-entrar:hover {
    background-color: #63b3ed;
    color: white;
}

/* Fundo do Banner */
body.dark-mode .banner {
    background-color: #2d3748;
}

/* Título do Banner */
body.dark-mode .banner-text h1 {
    color: #f7fafc;
}

/* Subtítulo do Banner */
body.dark-mode .banner-text p {
    color: #cbd5e0;
}

/* Botão Agendar */
body.dark-mode .btn-agendar {
    background-color: #4a90e2;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

body.dark-mode .btn-agendar:hover {
    background-color: #357abd;
}

/* Imagem do Banner */
body.dark-mode .banner-imagem img {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

/* Fundo da Seção Especialidades */
body.dark-mode .servicos-section {
    background-color: #363636;
}

/* Título da Seção Especialidades (h2) */
body.dark-mode .servicos-title {
    color: white;
}

/* Fundo dos Cards */
body.dark-mode .servico-card {
    background-color: #2d3748;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* do Título dos Cards */
body.dark-mode .servico-card .card-title {
    color: #f7fafc;
}

/* Fundo da Descrição dos Cards */
body.dark-mode .servico-card .card-text {
    color: #cbd5e0;
}

/* Fundo da Seção Sobre Nós */
body.dark-mode .sobre-nos-intro {
    background-color: #2d3748;
}

/* Título da Seção Sobre Nós */
body.dark-mode .sobre-nos-title {
    color: #f7fafc;
}

/* Subtítlo da Seção Sobre Nós */
body.dark-mode .sobre-nos-subtitle {
    color: #f7fafc;
}

/* Descrição da Seção Sobre Nós */
body.dark-mode .sobre-nos-text p {
    color: #cbd5e0;
}

/* Botão Saiba Mais da Seção Sobre Nós */
body.dark-mode .btn-saiba-mais {
    background-color: #4a90e2;
    color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

body.dark-mode .btn-saiba-mais:hover {
    background-color: #357abd;
    color: white;
}

/* Fundo da Seção dos Pilares */
body.dark-mode .pilares-section {
    background-color: #363636;
}

/* Subtítulo da Seção dos Pilares */
body.dark-mode .pilares-subtitle {
    color: #f7fafc;
}

/* Fundo dos Cards da Seção dos Pilares */
body.dark-mode .pilares-card {
    background-color: #2d3748;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Título dos Cards da Seção Pilares */
body.dark-mode .pilares-card .card-title {
    color: #f7fafc;
}

/* Descrição dos Cards da Seção Pilares */
body.dark-mode .pilares-card .card-text {
    color: #cbd5e0;
}

/* Fundo Área do Modal Saiba Mais */
body.dark-mode .modal-box {
    background-color: #1e293b;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Descrição dos Tópicos do Modal Saiba Mais */
body.dark-mode .modal-description {
    color: #cbd5e1;
}

/* Botão de Fechar o Modal Saiba Mais */
body.dark-mode .modal-close {
    color: #94a3b8;
}

body.dark-mode .modal-close:hover {
    color: #ef4444;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

/* Tópicos do Modal Saiba Mais */
body.dark-mode .modal-item {
    background-color: #334155;
    border-color: #475569;
}

/* Título dos Tópicos do Modal Saiba Mais */
body.dark-mode .modal-item-title {
    color: #f1f5f9;
}

/* Descrição dos Tópicos do Modal Saiba Mais */
body.dark-mode .modal-item-text {
    color: #94a3b8;
}

/* Título dos Tópicos do Modal Ajuda */
body.dark-mode .text-format h3 {
    color: #f1f5f9;
}

/* Subtítulo dos Tópicos do Modal Ajuda */
body.dark-mode .text-format h6 {
    color: #f1f5f9;
}

/* Descrição dos Tópicos do Modal Ajuda */
body.dark-mode .text-format p {
    color: #cbd5e1;
}

/* Descrição em Negrito dos Tópicos do Modal Ajuda */
body.dark-mode .text-format strong {
    color: #ffffff;
}

/* Linha de Divisão do Modal Ajuda */
body.dark-mode .modal-divider {
    border-color: #334155;
}

/* Footer */
body.dark-mode .alento-footer {
    background-color: #0b0f19;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.6);
}

/* Transição das Cores */
.main-header,
.nav-link,
#btn-entrar,
.banner,
.banner-text h1,
.banner-text p,
.btn-agendar,
.servicos-section,
.servicos-title,
.servico-card,
.servico-card .card-title,
.servico-card .card-text,
.sobre-nos-intro,
.sobre-nos-title,
.sobre-nos-subtitle,
.sobre-nos-text p,
.btn-saiba-mais,
.pilares-section,
.pilares-subtitle,
.pilares-card,
.pilares-card .card-title,
.pilares-card .card-text,
.alento-footer {
    transition: all 0.3s ease, color 0.3s ease;
}

/* Para Telas menores que 1198px */
@media (max-width: 1198px){
    .banner-imagem img {
        display: none;
    }

    .banner-content {
        margin: 5px;
        flex-direction: column;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 28px;
        display: flex;
        justify-content: center;
    }

    .banner-text p {
        display: flex;
        justify-content: center;
    }

    .btn-agendar {
        position: static;
        display: block;
        margin: 20px auto;
        padding: 10px 40px;
        font-size: 22px;
        width: fit-content;
    }

    .btn-agendar:hover {
        background-color: #72a1cc;
        transform: translateY(0px);
    }
}

/* Para Telas menores que 1146px */
@media (max-width: 1146px) {
    .sobre-nos-content {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .sobre-nos-imagem {
        position: static;
        display: block;
        bottom: auto;   
    }

    .sobre-nos-text {
        text-align: center;
        width: 100%;
    }

    .btn-saiba-mais {
        margin: 10px auto;
    }
}

/* Para telas menores que 1051px */
@media (max-width: 1050px) {
    .pilares-container {
        gap: 20px;
    }
}

/* Para Telas menores que 992px */
@media (max-width: 991px) {
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 15px 20px;
        min-height: 70px;
    }

    .alento-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 !important;
        z-index: 10;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: white;
        z-index: 1000;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
    }

    body.dark-mode .navbar-collapse {
        background-color: #1a202c;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .alento-nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .alento-nav .nav-link {
        border-right: none !important;
        font-size: 18px;
    }

    #btn-entrar {
        margin-left: 0;
        font-size: 14px;
        padding: 5px 10px;
    }

    #btn-entrar:hover{
        background-color: transparent;
        color: #3182ce;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 28px;
        display: flex;
        justify-content: center;
    }

    .banner-text p {
        display: flex;
        justify-content: center;
    }

    .banner-imagem img {
        display: none;
    }

    .btn-agendar {
        position: static;
        display: block;
        margin: 20px auto;
        width: fit-content;
    }

    .btn-agendar:hover {
        background-color: #72a1cc;
        transform: translateY(0px);
    }

    .sobre-nos-content {
        flex-direction: column;
        gap: 40px;
    }

    .sobre-nos-text p {
        display: flex;
        justify-content: center;
        text-align: left;
        margin: 0 50px;
    }

    .sobre-nos-text .btn-saiba-mais {
        margin-left: 160px;
    }

    .sobre-nos-imagem {
        display: flex;
        justify-content: center;
        border: none;
        bottom: 0;
    }

    .pilares-container {
        gap: 20px;
    }

    .btn-saiba-mais {
        position: relative;
        right: 80px;
    }
}

/* Para Telas menores que 576px */
@media (max-width: 575px) {

    body, 
    main.container-fluid, 
    .main-content {
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }

    .banner, 
    .sobre-nos-section, 
    .sobre-nos-intro, 
    .pilares-section, 
    .alento-footer {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .banner-text, 
    .servicos-title, 
    .sobre-nos-text p, 
    .sobre-nos-title, 
    .sobre-nos-subtitle,
    .pilares-subtitle {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .sobre-nos-section, 
    .sobre-nos-intro {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .servicos-title,
    .sobre-nos-title {
        margin-left: 20px;
        font-size: 20px;
    }

    #btn-entrar:hover{
        background-color: transparent;
        color: #3182ce;
    }

    /* .sobre-nos-text{
        text-align: left;
        margin: 0 10px;
    } */

    .sobre-nos-text p{
        text-align: left;
        margin: 0 40px;
    }

    .pilares-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .pilares-card {
        flex: 1 1 100%;
        width: 100%; 
        max-width: 350px;
        margin: 0 auto;  
    }

    .pilares-subtitle {
        margin-left: 0;
        text-align: center;
        justify-content: center;
        font-size: 20px;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
    }

    .modal-box {
        width: 95%;
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-contato-item {
        justify-content: center;
    }
}